<div class="w-md mx-auto bg-white p-6 rounded-md shadow-md">
    <h2 class="text-lg font-semibold mb-4">Create Issue</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Text Inputs -->
        <div class="mb-4" >
            <label class="block text-sm font-medium text-gray-700 mb-1">Title</label>
            <input type="text"  formControlName="title" class="form-input" required />
            <div  *ngIf="form.get('title')?.errors?.['required'] && form.get('title')?.touched" class="text-red-500 text-xs">
                Field is required
            </div>
        </div>
        <div class="mb-4" >
            <label  class="block text-sm font-medium text-gray-700 mb-1">Description</label>
            <input type="text" formControlName="description" class="form-input" required />
            <div  *ngIf="form.get('description')?.errors?.['required'] && form.get('description')?.touched" class="text-red-500 text-xs">
                Field is required
            </div>
        </div>
        <div class="mb-4" >
            <label  class="block text-sm font-medium text-gray-700 mb-1">Steps and Data</label>
            <input type="text" formControlName="expectation" class="form-input" required />
            <div  *ngIf="form.get('expectation')?.errors?.['required'] && form.get('expectation')?.touched" class="text-red-500 text-xs">
                Field is required
            </div>
        </div>
        <!-- <div class="mb-4" >
            <label  class="block text-sm font-medium text-gray-700 mb-1">Expected Output</label>
            <input type="text" formControlName="expectedOutput" class="form-input" required />
            <div  *ngIf="form.get('expectedOutput')?.errors?.['required'] && form.get('expectedOutput')?.touched" class="text-red-500 text-xs">
                Field is required
            </div>
        </div>
        <div class="mb-4" >
            <label  class="block text-sm font-medium text-gray-700 mb-1">Actual Output</label>
            <input type="text" formControlName="actualOutput" class="form-input" required />
            <div  *ngIf="form.get('actualOutput')?.errors?.['required'] && form.get('actualOutput')?.touched" class="text-red-500 text-xs">
                Field is required
            </div>
        </div> -->

        <!-- Dropdown Selections -->

        <div class="mb-4">
            <label  class="block text-sm font-medium text-gray-700 mb-1">Select Module</label>
            <select (change)="getSubModule($event)" class="form-select"  formControlName="module">
                <option value="">Select an Option</option>
                <option *ngFor="let option of modulesList" [value]="option.id">{{ option.name }}</option>
              </select>
              <div *ngIf="form.get('module')?.errors?.['required'] && form.get('module')?.touched" class="text-red-500 text-xs">
                Selection is required
            </div>
        </div>
        <div class="mb-4">
            <label  class="block text-sm font-medium text-gray-700 mb-1">Select Sub-Module</label>
            <select (change)="getScreen($event)" class="form-select" formControlName="subModule">
                <option value="">Select an Option</option>
                <option *ngFor="let option of subModuleList" [value]="option.id">{{ option.name }}</option>
              </select>
              <div *ngIf="form.get('subModule')?.errors?.['required'] && form.get('subModule')?.touched" class="text-red-500 text-xs">
                Selection is required
            </div>
        </div>
        <div class="mb-4">
            <label  class="block text-sm font-medium text-gray-700 mb-1">Select Screen</label>
            <select  class="form-select" formControlName="screen">
                <option value="">Select an Option</option>
                <option *ngFor="let option of screenList" [value]="option.id">{{ option.name }}</option>
              </select>
              <div *ngIf="form.get('screen')?.errors?.['required'] && form.get('screen')?.touched" class="text-red-500 text-xs">
                Selection is required
            </div>
        </div>
        <div class="mb-4">
            <label  class="block text-sm font-medium text-gray-700 mb-1">Select Severity</label>
            <select  class="form-select" formControlName="severity">
                <option value="">Select an Option</option>
                <option *ngFor="let option of severityList" [value]="option.id">{{ option.name }}</option>
              </select>
              <div *ngIf="form.get('severity')?.errors?.['required'] && form.get('severity')?.touched" class="text-red-500 text-xs">
                Selection is required
            </div>
        </div>
        <div class="mb-4">
            <label  class="block text-sm font-medium text-gray-700 mb-1">Select Type </label>
            <select  class="form-select" formControlName="type">
                <option value="">Select an Option</option>
                <option *ngFor="let option of typeList" [value]="option.id">{{ option.name }}</option>
              </select>
              <div *ngIf="form.get('type')?.errors?.['required'] && form.get('type')?.touched" class="text-red-500 text-xs">
                Selection is required
            </div>
        </div>
        <!-- Buttons -->
        <div class="flex justify-between">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" [disabled]="form.invalid">Create</button>
            <button type="button" (click)="onReset()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none focus:bg-gray-400">Reset</button>
        </div>
    </form>
</div>
